name = "acachile"
compatibility_date = "2023-10-30"

# Variables for local development
[vars]
ENVIRONMENT = "development"
CORS_ORIGIN = "http://localhost:5173"
FRONTEND_URL = "http://localhost:5173"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "acachile-db"
database_id = "086f0530-48b6-41db-95ab-77bce733f0df"
